@page "{PersonalCode?}"
@model WebApplication1.StudentSubjectsModel
@{
    ViewData["Title"] = "StudentSubjects";
}

<h1>Student's subjects</h1>
<table>
    <tr>
        <th>Name</th>
        <th>EAP / ECTS</th>
        <th>Code</th>
    </tr>

    @foreach (var x in Model.Subjects)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.Ects</td>
            <td>@x.Code</td>
            <td><form asp-page="StudentSubjects" asp-page-handler="Remove" asp-route-SubjectId="@x.SubjectId" asp-route-PersonalCode="@RouteData.Values["PersonalCode"]">
    <button type="submit">Unenroll</button>
</form>
    
</td>
        </tr>
    }

</table>
<h1>Enroll the student in subjects</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Ects</th>
    </tr>
    @foreach (var x in Model.AllSubjects)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.Code</td>
            <td>@x.Ects</td>
            <td><form asp-page="StudentSubjects" asp-page-handler="Add" asp-route-SubjectId="@x.SubjectId" asp-route-PersonalCode="@RouteData.Values["PersonalCode"]"><button type="submit">Enroll</button></form></td>
        </tr>
    }
</table>

